<!-- <button mat-raised-button color="primary" class="button">
  Create issue type
</button> -->
<!-- 

<mat-spinner [strokeWidth]=5 [diameter]=50 *ngIf="spinner" style="position: absolute; top: 48%;
left: 45%;"></mat-spinner> -->

<div style="box-sizing: border-box">
  <div
    class="df ai jc"
    style="padding: 0.8rem 1rem 0.8rem 1.5rem; background: #efefef"
  >
    <span class="mt fw mf">Create Issue Type</span>
    <mat-icon class="mt xlf cp" (click)="close()">clear</mat-icon>
  </div>

  <!-- Row 1 -->
  <div class="flex-container">
    <div>
      <span class="mf fw">Issue Category*</span>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-select
          placeholder="Select Category"
          [(ngModel)]="issueType.category"
        >
          <mat-option [value]="'Approval'">Approval</mat-option>
          <mat-option [value]="'Ticket'">Ticket</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <span class="mf fw">Process area*</span>
      <mat-form-field   appearance="outline">
        <mat-select
          placeholder="Select department"
          [(ngModel)]="issueType.relatedTo[0]"
        >
          <mat-option
            *ngFor="let department of departments"
            [value]="department.name"
          >
            {{ department?.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="flex-container">
    <div>
      <span class="mf fw">Shared Department</span>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-select
        multiple="true"
        (selectionChange)="selectedValue($event.value, 'sharedDepartments')"
        placeholder="Select department"
        [(ngModel)]="issueType.sharedDepartments"
      >
        <mat-option
          *ngFor="let department of departments"
          [disabled]="issueType.relatedTo.includes(department.name)"
          [value]="department.name"
        >
          {{ department?.name }}
        </mat-option>
      </mat-select>
      </mat-form-field>

      
    </div>
    <div>
      <span class="mf fw">Write Issue Type Name*</span>
      <mat-form-field appearance="outline">
        <input
          matInput
          autocomplete="off"
          [(ngModel)]="issueType.issueType"
          placeholder="Issue type here"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="flex-container">
    <div>
      <span class="mf fw">Show In</span>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-select
          multiple="true"
          (selectionChange)="selectedValue($event.value, 'showIn')"
          [(ngModel)]="issueType.showIn"
          placeholder="Select"
        >
          <mat-option value="shipment">Shipment</mat-option>
          <mat-option value="shipment.contact">Shipment Contact</mat-option>
          <mat-option value="fleet">Fleet</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div >
    <button mat-button class="button" (click)="createIssueType()">Save and Add fields</button>
  </div>
</div>

