<div class="container h-100 ">
  <div class="row">
    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="fromevent" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">FromEvent</h5>
          <p class="card-text">Creates an Observable that emits events of a specific type coming from the given event target.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="timer-interval" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Timer And Interval</h5>
          <p class="card-text">Creates an Observable that emits events stream in a specific time.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="of-from" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Of And From</h5>
          <p class="card-text">Creates an Observable that emits from value and arrays.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="to-array" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">ToArray</h5>
          <p class="card-text">Collects all source emissions and emits them as an array when the source completes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="custom-observable" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Custom Observable</h5>
          <p class="card-text">Creating custom observable using next() complete() error() cycle of stream.</p>
        </div>
      </div>
    </div>


    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="map" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Map</h5>
          <p class="card-text">Applies a given project function to each value emitted by the source Observable, and emits the resulting values as an Observable.</p>
        </div>
      </div>
    </div>


    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="pluck" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Pluck</h5>
          <p class="card-text">Maps each source value to its specified nested property.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="filter" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Filter</h5>
          <p class="card-text">Filter items emitted by the source Observable by only emitting those that satisfy a specified predicate.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="debounce" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">DebounceTime and DistinctUntillChanged</h5>
          <p class="card-text">    <p>Emits a notification from the source Observable only after a particular time span has passed without another source emission.        </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="concat" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Concat, ConcalAll, ConcatMap</h5>
          <p class="card-text">    <p>A function that returns an Observable emitting values from all the inner Observables concatenated.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="merge" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Merge, MergeAll, MergeMap</h5>
          <p class="card-text">    <p>A function that returns an Observable emitting values from all the inner Observables concatenated.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mr-2 mt-2">
      <div class="card" routerLink="diff" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">MergeMap, ConcatMap, SwitchMap</h5>
         <div class="card-body">Diffrence Between all maps</div>

      </div>
    </div>




  </div>
</div>

