<div class="container h-100">
  <div class="my-3">
    <h2>Of</h2>
    <p>
      It makes the stream of value passes threw it, Value can be either string, number and object.</p>
    <br>
    <hr>
    <br>
      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <div class="card-header"> <strong>Data :</strong> of(Karan,Rahul,Kartik,Shoiab)</div>
            <div class="card-body">

              <ul id="elContainer"></ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header"> <strong>Data :</strong> of(&#123;a:Karan,b:Rahul,c:Kartik,d:Shoiab&#125;)</div>
            <div class="card-body">

              <ul id="elContainer2">
                <li>{{obsmsg.a}}</li>
                <li>{{obsmsg.b}}</li>
                <li>{{obsmsg.c}}</li>
                <li>{{obsmsg.d}}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
  </div>

  <div class="my-3">
    <h2>From</h2>
    <p>
      It makes the stream of value passes threw it,values can be array</p>
    <br>
    <hr>
    <br>
      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <div class="card-header"> [1,2,3,4,5]</div>
            <div class="card-body">

              <ul id="elContainer3"></ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
