<div class="container h-100">
  <div class="my-3">
    <h2>Concat and ConcatMap</h2>
    <p>A function that returns an Observable emitting values from all the inner Observables concatenated.</p>
    <br>
    <hr>

    <br>
    <hr>
    <br>
      <div class="row">
        <div class="col-md-4">
          <strong>Ex-01 Concat </strong><br>
          <p>3 diff streams having name, age and group each of them consist 3 items and giving data on 1,2 and 3 seconds respectively </p><br>
          <hr>
          <ul id="elContainer" class="techlist">
          </ul>
        </div>

        <div class="col-md-4">
          <strong>Ex-02 Map + ConcatAll </strong>
          <hr>
          <ul id="elContainer1" class="techlist">
          </ul>
        </div>

        <div class="col-md-6">
          <strong>Ex-03 ConcatMap </strong>
          <hr>

          <ul id="elContainer2" class="techlist">
          </ul>
        </div>
        <div class="col-md-6">
          <strong>Ex-04 mergeMap </strong>
          <hr>

          <ul id="elContainer3" class="techlist">
          </ul>
        </div>

  </div>
</div>
