<div class="app-container">
    <img src="assets/images/logo.svg" alt="logo" class="logo">
    <h1>Multilanguage Multisite Angular Universal Demo {{sitename}}</h1>
    <nav class="nav-links">
        <a routerLink="/">Home</a>
        <a routerLink="/lazy">Lazy-loaded Route</a>
        <a (click)="secondApp()">Second App</a>
        <a href="http://localhost:4001/en/" target="_blank">Google</a>

    </nav>
    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
</div>
