<div class="container h-100">
  <div class="my-3">
    <h2>ConcatMap, MergeMap and SwitchMap</h2>
    <br>
    <hr>

    <br>
    <hr>
    <br>
      <div class="row">
        <div class="col-md-6">
          <strong> ConcatMap </strong>
          <hr>

          <ul id="elContainer2" class="techlist">
          </ul>
        </div>
        <div class="col-md-6">
          <strong>MergeMap </strong>
          <hr>

          <ul id="elContainer3" class="techlist">
          </ul>
        </div>

        <div class="col-md-6">
          <strong> SwitchMap </strong>
          <hr>

          <ul id="elContainer4" class="techlist">
          </ul>
        </div>

  </div>
</div>
