<div class="container h-100">
  <div class="my-3">
    <h2>Map</h2>
    <p>Applies a given project function to each value emitted by the source Observable, and emits the resulting values as an Observable.
    </p>
    <br>
    <hr>
    <br>
    <div>
      <strong>Method :</strong> variable.map(data => &#123;  your work with and return  &#125;)
    </div>
    <br>
    <hr>
    <br>
      <div class="row">
        <div class="col-md-12">
          <strong>Ex-01 Map Members Name : [Father','Mother','Son','Daughter'] with Mebmbers keyword</strong>
          <hr>
          <ul id="elContainer"></ul>
        </div>



  </div>
</div>
