<div class="container h-100">
    <div class="my-3">
      <h2>From Event</h2>
      <p>Creates an Observable that emits events of a specific type coming from the given event target.
      </p>
      <br>
      <hr>
      <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div  class="card-header"> Add Stream</div>
              <div class="card-body">
                <button #addbtn class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header"> Stream</div>
              <div class="card-body">

                <ul id="elContainer"></ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
