 

<div style="box-sizing: border-box">
    <div
      class="df ai jc"
      style="padding: 0.8rem 1rem 0.8rem 1.5rem; background: #efefef"
    >
      <span class="mt fw mf">Update Issue Type</span>
      <mat-icon class="mt xlf cp" (click)="close()">clear</mat-icon>
    </div>
  
    <div class="flex-container" style="border: 1px solid;border-radius: 10px; margin: 20px;">
        <div>
        <span >Department :</span>  <span >{{issueTypeData.relatedTo}}</span><br>
          <span>Summary :</span> <br>
        <span>Default Assignee :</span> <br>
        <span>Default Followers :</span> <br>
        </div>
        <div>
          <span >Issue Type:</span>  <span >{{issueTypeData.issueType}}</span><br>
      
        </div>
       </div>
  
    
    <span style="font-size: 20px; margin-left: 10px;">Fields</span>
    
    <button
    mat-button
    style="
      border: 1px solid #0086da;
      color: #0086da;
      margin-right: 10px;
      margin-left: 20px;
    "
     
    (click)="saveAllCustomFields()"
  >
    Save All
  </button>
    <div class="flex-container" style="border: 1px solid;border-radius: 10px; margin: 20px;
    height: 120px;
    padding: 10px;">
         

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Field Key </th>
              <td mat-cell *matCellDef="let element"> {{element.fieldKey}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Field Type </th>
              <td mat-cell *matCellDef="let element"> {{element.fieldType}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Field Value </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Related TO </th>
              <td mat-cell *matCellDef="let element"> Shipment </td>
            </ng-container>
         
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
          </table>
          
       </div>


     

      <button mat-button [matMenuTriggerFor]="menu" class="button">Add Custom Fields</button>
<mat-menu #menu="matMenu">
  <div style="height: 300px; overflow-y: auto">
    <button
      mat-menu-item
      *ngFor="let customField of issueTypeCustomField; let i = index"
      (click)="selectCf(customField, i)"
    >
      {{ customField?.cfs?.fieldKey }}
    </button>
  </div>
</mat-menu>
  
  </div>
  
  