<div class="container h-100">
  <div class="my-3">
    <h2>Merge And MergeMap</h2>
    <p>A function that returns an Observable emitting values from all the inner Observables merged.</p>
    <br>
    <hr>

    <br>
    <hr>
    <br>
      <div class="row">
        <div class="col-md-4">
          <strong>Ex-01 Merge </strong><br>
          <p>Converts a higher-order Observable into a first-order Observable which concurrently delivers all values that are emitted on the inner Observables.</p><br>
          <hr>
          <ul id="elContainer" class="techlist">
          </ul>
        </div>

        <div class="col-md-4">
          <strong>Ex-02 Map + MergeAll </strong><br>
          <p>When we subscribe any Observable and get observable again then we need to subscribe that observable which we got.</p>
          <hr>
          <ul id="elContainer1" class="techlist">
          </ul>
        </div>

        <div class="col-md-4">
          <strong>Ex-02 MergeMap</strong><br>
          <strong>If we dont want to use map and merge all together we can use merge map</strong><br>
          <p>Projects each source value to an Observable which is merged in the output Observable.</p>
          <hr>

          <ul id="elContainer2" class="techlist">
          </ul>
        </div>

  </div>
</div>
